 /* CSS */
 body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .login-container {
    width: 300px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .login-container h2 {
    margin-top: 0;
    text-align: center;
    color: #ED7D31;
  }

  .login-form {
    margin-top: 20px;
  }

  .form-group {
    margin-bottom: 20px;
  }

  .form-group label {
    display: block;
    margin-bottom: 5px;
    color: #333;
  }

  .form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }

  .form-group button {
    width: 100%;
    padding: 10px;
    background-color: #ED7D31;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .form-group button:hover {
    background-color: #ffa162;
  }

  .form-group.error input {
    border-color: #ff0000;
  }

  .error-message {
    color: #ff0000;
    margin-top: 5px;
  }
  